#services {
   h1 {
      cursor: default;
   }

   li {
      margin: 20px;
      font-weight: 500;
      cursor: default;
      // animation: showText linear forwards;
      // animation-timeline: view();
      // animation-range: entry 0% cover 30%;
      transform: translatey(200px);
      opacity: 0;
      transition: 0.4s ease;
      &.show {
         transform: translatey(0px);
         opacity: 1;
      }
   }

   video {
      border-radius: 10px;
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.4);
      transition: 0.2s ease;
      transform: translatey(200px);
      opacity: 0;
      &:hover {
         transform: scale(1.05);
      }
      // animation: showVideo linear forwards;
      // animation-timeline: view();
      // animation-range: entry 0% cover 30%;

      &.show {
         transform: translatey(0px);
         opacity: 1;
      }
   }

   // @keyframes showVideo {
   //    to {
   //       transform: translatey(0px);
   //       opacity: 1;
   //    }
   // }

   // @keyframes showText {
   //    from {
   //       opacity: 0;
   //    }
   //    to {
   //       opacity: 1;
   //    }
   // }
}
