#services{
    h1{
        cursor: default;
    }
    li{
        margin: 20px;
        font-weight: 500;
        cursor: default;
    }
    video{
        border-radius: 10px;
        box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.4);
        transition: 0.2s ease;
        &:hover{
            transform: scale(1.05);
        }
    }
}