#skills{

    .custom-shape-divider-top-1715293794 {
        position: relative;
        top: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1715293794 svg {
        position: relative;
        display: block;
        width: calc(173% + 1.3px);
        height: 87px;
    }
    
    .custom-shape-divider-top-1715293794 .shape-fill {
        fill: #FFFFFF;
    }
}