$priColor: #cc1c42;
#hero {
  height: 100svh;
  .btn {
    background-color: $priColor;
    padding: 0.7rem 1rem;
    color: white;
    border-radius: 4px;
  }
  &::before {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 15%;
    background-color: white;
    content: "";
    filter: blur(175px);
    z-index: -1;
  }
  &::after {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: 10%;
    background-color: $priColor;
    content: "";
    filter: blur(100px);
    z-index: -1;
  }
  img {
    // animation: imgAnimation 2s ease-in forwards;
    animation: imgAnimation2 linear 10s infinite;
    opacity: 1;
  }

  p, a {
    animation: textAnimation 2s ease-in forwards;
    opacity: 0;
  }

  @keyframes imgAnimation {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes imgAnimation2 {
    0%{
      transform: scale(1);
    }
    25%{
      transform: scale(1.05);
    }
    50%{
      transform: scale(1);
    }
    75%{
      transform: scale(1.05);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes textAnimation {
    from {
      transform: translateX(-200px);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  //Divider
  .custom-shape-divider-bottom-1715191051 {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1715191051 svg {
    position: relative;
    display: block;
    width: calc(201% + 1.3px);
    height: 144px;
  }

  .custom-shape-divider-bottom-1715191051 .shape-fill {
    fill: #ffffff;
  }
}
